{% extends "base.html" %}

{% block page_content %}

<div class="container">

    <div class="row">

        <div class="col">
            <div class="card bg-primary mb-3 border-white" style="width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="static/images/yopiscina.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title text-white">UTFSM Pool Receptionist</h5>
                    </div>
                    <div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-primary text-white">Register people who use the pool facilities</li>
                    <li class="list-group-item bg-primary text-white">Register activities performed in the pool</li>
                    <li class="list-group-item bg-primary text-white">Check pool facilities's mantainance</li>
                    <li class="list-group-item bg-primary text-white">Lend/Rent pool's utensils</li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-primary mb-3 border-white" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title text-white">Teacher Assistant Organization and Information Systems</h5>
                    </div>
                    <div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-primary text-white">Create homework, corrections guidelines, and evaluate said homework for the students</li>
                    <li class="list-group-item bg-primary text-white">Help the professor organize the class general</li>
                    <li class="list-group-item bg-primary text-white">Resolve doubts that students may have about contents seen in class</li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
    

    <div class="row pt-5">

        <div class="col d-flex justify-content-center">
            <div class="card bg-primary mb-3 border-white" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title text-white">Teacher Assistant Physics I</h5>
                    </div>
                    <div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-primary text-white">Support students with their excersises, explaining contents if necessary</li>
                    <li class="list-group-item bg-primary text-white">Correct quizzes</li>
                    <li class="list-group-item bg-primary text-white">Supervise evaluations</li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
    
</div>

{% endblock page_content %}

