{% extends "base.html" %}

{% block page_content %}

<div class = "container">

    <h1 class="h1 text-secondary" style="font-size: 500%; font-family: monospace;">Academic</h1>

    <ol class="list-group">
        <li class="list-group-item bg-primary d-flex justify-content-between align-items-start text-white">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Colegio Nueva Era Siglo XXI</div>
            Elementary School, Middle School, High School
          </div>
          <h4><span class="badge bg-secondary rounded-pill">2008 - 2020</span></h4>
        </li>
        <li class="list-group-item bg-primary d-flex justify-content-between align-items-start text-white">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Universidad Técnica Federico Santa María - Casa Central</div>
            Civil Computer Engineering
          </div>
          <h4><span class="badge bg-secondary rounded-pill">2021 - Present</span></h4>
        </li>
      </ol>

      <h1 class="h1 text-secondary" style="font-size: 500%; font-family: monospace; padding-top: 5%;">Voluntary Courses</h1>

      <ol class="list-group">
        <li class="list-group-item bg-primary d-flex justify-content-between align-items-start text-white">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Sololearn HTML Course</div>
            Introductory HTML online course imparted by the Sololearn platform
          </div>
          <h4><span class="badge bg-secondary rounded-pill">2017</span></h4>
        </li>
        <li class="list-group-item bg-primary d-flex justify-content-between align-items-start text-white">
          <div class="ms-2 me-auto">
            <div class="fw-bold">LearnEnglish Select Santander - Advanced Level (C1)</div>
            Advanced vocabulary online course imparted by the British Council
          </div>
          <h4><span class="badge bg-secondary rounded-pill">2021</span></h4>
        </li>
        <li class="list-group-item bg-primary d-flex justify-content-between align-items-start text-white">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Google Cloud Computing Foundations</div>
              Introduction to cloud concepts and use of the Google Cloud platform
            </div>
            <h4><span class="badge bg-secondary rounded-pill">2023</span></h4>
        </li>
      </ol>

</div>


{% endblock page_content %}